*.coq
*.glob
*.v.d
*.vo
*.mli
*.swp
src/Main.native
src/PipeGraph.ml
src/pipeproof
src/_build
doc/
log.txt
pipecheck
tmp/
trash/
tests/x86tso/*.gz
tests/x86tso/*.test
tests/x86tso/*.json
html/bootstrap
html/bootstrap-3.3.5-dist.zip
html/bootstrap-3.3.5-dist/
src/Herd.ml
src/HerdLexer.mll
src/HerdParser.mly
src/PipeGraphLinux.ml
src/PipeGraphJS.ml
